<!-- Home -->

<div class="home">
  <div class="home_background_container prlx_parent">
    <div class="home_background prlx" style="background-image:url(assets/images/news_background.jpg)"></div>
  </div>
  <div class="home_content">
    <h1>Nosotros</h1>
  </div>
</div>

<!-- Services -->

<div class="services page_section">

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title text-center">
          <h1>Misión Visión</h1>
        </div>
      </div>
    </div>

    <div class="row services_row">

      <div
        class="col-lg-6 text-center service_item text-left d-flex flex-column align-items-center justify-content-start">
        <div class="icon_container d-flex flex-column justify-content-end">
          <img src="assets/images/earth-globe.svg" alt="">
        </div>
        <h3>Misón</h3>
        <p>Formar profesionales técnicos, para contribuir con el desarrollo del país y la sostenibilidad, mediante
          ofertas formativas que cuenten con condiciones de calidad, que respondan a los requerimientos del sector
          productivo; generando el equilibrio entre la oferta formativa, con la demanda laboral.</p>
      </div>

      <div
        class="col-lg-6 text-center service_item text-left d-flex flex-column align-items-center justify-content-start">
        <div class="icon_container d-flex flex-column justify-content-end">
          <img src="assets/images/exam.svg" alt="">
        </div>
        <h3>Visión</h3>
        <p>Fortalecer la Calidad Académica y el prestigio de la Institución para el 2024, con programas acreditados
          cimentando nuestro liderazgo en la formación de profesionales técnicos en los campos de la salud, ciencia y
          tecnología; relacionando la oferta educativa con las demandas.</p>
      </div>


      <div
        class="col-lg-6 text-center service_item text-left d-flex flex-column align-items-center justify-content-start">
        <div class="icon_container d-flex flex-column justify-content-end">
          <img src="assets/images/professor.svg" alt="">
        </div>
        <h3>Valores</h3>
        <p>En el IESP Sergio Bernales García de Huaral, se practican valores que orientan el comportamiento individual y
          grupal, que evidencien los ideales de conducta y acciones cotidianas y que, a su vez, se concrete en un marco
          de referencia e identificación para quienes formamos parte de esta institución.</p>
      </div>

      <div
        class="col-lg-6 text-center service_item text-left d-flex flex-column align-items-center justify-content-start">
        <div class="icon_container d-flex flex-column justify-content-end">
          <img src="assets/images/blackboard.svg" alt="">
        </div>
        <h3>Principios</h3>
        <p>Los principios, son las directrices que aportan el orden y establecimiento de la práctica rutinaria de las
          áreas académicas, mismas que guardan coherencia con la visión, la misión institucional y la propuesta
          pedagógica.</p>
      </div>



    </div>
  </div>
</div>
