<!-- Home -->

<div class="home">
  <div class="home_background_container prlx_parent">
    <div class="home_background prlx" style="background-image:url(assets/images/contact_background.jpg)"></div>
  </div>
  <div class="home_content">
    <h1>Contactos</h1>
  </div>
</div>

<!-- Contact -->

<div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <!-- Contact Form -->
        <div class="contact_form">
          <div class="contact_title">Ponte en Contacto</div>

          <div class="contact_form_container">
            <form action="post">
              <input id="contact_form_name" class="input_field contact_form_name" type="text" placeholder="Nombre" required="required" data-error="Name is required.">
              <input id="contact_form_email" class="input_field contact_form_email" type="email" placeholder="Correo" required="required" data-error="Valid email is required.">
              <span>&nbsp;</span>
              <textarea id="contact_form_message" class="text_field contact_form_message" name="message" placeholder="Mensaje" required="required" data-error="Please, write us a message."></textarea>
              <button id="contact_send_btn" type="button" class="contact_send_btn trans_200" value="Submit">Enviar Mensaje</button>
            </form>
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="about">

          <div class="contact_info">
            <ul>
              <li class="contact_info_item">
                <div class="contact_info_icon">
                  <img src="assets/images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">
                </div>
                Jirón Lima N° 800 , San Mateo de Huanchor - Huarochirí , Lima - Perú
              </li>
              <li class="contact_info_item">
                <div class="contact_info_icon">
                  <img src="assets/images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">
                </div>
                (511) 479 5140
              </li>
              <li class="contact_info_item">
                <div class="contact_info_icon">
                  <img src="assets/images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
                </div>iesanmateo-huanchor@hotmail.com
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>

    <!-- Google Map -->

    <div class="row">
      <div class="col">
        <div id="google_map">
          <div class="map_container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1953.0485636981907!2d-76.298516!3d-11.758208000000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2a2da44f6c8b6368!2zMTHCsDQ1JzMwLjIiUyA3NsKwMTcnNTQuNiJX!5e0!3m2!1ses!2sus!4v1665280842942!5m2!1ses!2sus" width="1500" height="750" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
